.question{
  text-align: center;
  color: black;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 180%
}
.checkboxes {
  margin-top:30px;
  margin-left: 150px;
  margin-right:150px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.checkbox-label{
  position: relative;
  margin-left:10px;
}
.checkbox-label .custom-checkbox {

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  padding: 4px;
  background-color: transparent;
  cursor: default;
  /*border: 2px solid #003c1d;*/
  border-radius: 50%;
  color: #003c1d;
}
input:checked + label {
  background: #73a075 content-box !important;
}
